[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
h5py = "*"
tables = "*"
pyarrow = ">=3.0.0"
sqlalchemy = "*"
psycopg2 = "*"
flask = "*"
gunicorn = "*"
requests = "*"
cryptography = ">=3.2.1"
cmdkit = ">=2.5.1"
toml = ">=0.10.2"
pyyaml = ">=5.4.1"
streamkit = ">=0.3.2"
names_generator = ">=0.1.0"
astropy = ">=4.0.1"
antares-client = ">=1.0.6"
slackclient = ">=2.8.0"
matplotlib = "*"
seaborn = "*"
rich = "*"
tensorflow = ">=2.6.1"
parsl = "==1.1.0"
astroplan = "*"
timezonefinder = "*"
pytz = "*"
bs4 = "*"
jinja2 = "*"
refitt = {editable = true, path = "."}


[dev-packages]
pytest = "*"
pytest-cov = "*"
hypothesis = "*"
ipython = "<8"  # 8.0.0 seems broken
twine = "*"
sphinx = "*"
pydata-sphinx-theme = "*"

[requires]
python_version = "3.9"
